# Configurações de Email (usado pelo sistema)
EMAIL_USUARIO=seu_email@dominio.com
EMAIL_SENHA=sua_senha_smtp

# Configurações Gerais
BASE_URL=https://seudominio.com
EMAIL_SUBJECT=Novos Veículos Disponíveis - MotorGo
