# Configurações do Banco de Dados
DB_HOST=127.0.0.1
DB_USER=seu_usuario_db
DB_PASS=sua_senha_db
DB_NAME=nome_do_banco

# Configurações SMTP
SMTP_HOST=smtp.seuservidor.com
SMTP_PORT=465
SMTP_USERNAME=seu_email@dominio.com
SMTP_PASSWORD=sua_senha_smtp
SMTP_FROM_EMAIL=seu_email@dominio.com
SMTP_FROM_NAME=MotorGo
SMTP_ENCRYPTION=ssl

# Configurações Gerais
BASE_URL=https://seudominio.com
EMAIL_SUBJECT=Novos Veículos Disponíveis - MotorGo
